<div class="container-fluid main">
  <div class="container">
    <div class="col-md-8 content">
      <img class="logo" src="./assets/images/logo.png" alt="" />
      <h1>A Great Radar For Pokemon Go.</h1>
      <h3>
        An app for your phone who allows you to detect all the pokemon nearby on a map and in real-time, and share it with other users.
      </h3>
    </div>
    <div class="col-md-4">
      <img class="phone" src="./assets/images/phone.png" alt="" />
      <img src="./assets/images/pikapika.png" alt="" class="screenshot">
    </div>
  </div>
</div>

<div class="container-fluid full">

</div>


<aside id="sticky-social">
    <ul>
      <li><a href="#" class="entypo-facebook" target="_blank"><span>Facebook</span></a></li>
      <li><a href="#" class="entypo-twitter" target="_blank"><span>Twitter</span></a></li>
    </ul>
</aside>
